<div class="container h-100 d-flex flex-column">
  <div class="row mb-2 text-right">
    <span>Now editing: {{ isFlashcardFront ? 'Front' : 'Back' }}</span>
    <label for="flashcardLayout" class="col-form-label col-9">Choose your layout:</label>
    <div class="col-3">
      <!-- I managed to stumble into a very obscure Angular bug when attempting to deal with ternary operators in a [(ngModel)] declaration: https://medium.com/programming-beasts/ternary-operator-in-angular-two-way-binding-1da312916779. To 'fix' this, I just changed the implementation to what you currently see here (the example on the link is pretty much what I first attempted to do). Separating the two-way binding seems to be the solution here (taken from: https://www.quora.com/Angular-How-can-you-conditionally-bind-a-model-with-ngModel). -->
      <select class="form-select"
        [ngModel]="isFlashcardFront ? flashcard.frontContentLayout :  flashcard.backContentLayout "
        (ngModelChange)="isFlashcardFront ? flashcard.frontContentLayout = $event : flashcard.backContentLayout = $event ">
        <option *ngFor="let layout of possibleLayouts" [ngValue]="layout">{{ layoutDisplayNames[layout] }}
        </option>
      </select>
    </div>
  </div>
  <!-- So, what is going on here... My goals are:
              (1) centralize the input method buttons (image, sound, text, whatever), while also making them visually appealing (as round as possible, pretty borders, etc)
              (2) distribute the rows EVENLY without gutters... the reason for this is to not waste any space later for images/text/sound/etc
              Class 'flex-fill' is used (in children components) to replicate the behavior of things such as 'col', but for vertical space
              Class 'd-flex has to be used for the 'align' and 'justify' directives to work there (this stuff can be seen inside the child component)

              Documentation used: https://getbootstrap.com/docs/5.0/utilities/flex/#align-items -->
  <div class="flashcard-container h-100 d-flex flex-column justify-content-evenly">
    <app-flashcard-layout
      [contents]="isFlashcardFront ? [flashcard.content1,flashcard.content2,flashcard.content3] : [flashcard.content4,flashcard.content5,flashcard.content6]"
      (contentChange)="onContentChange($event)"
      [layout]="isFlashcardFront ? flashcard.frontContentLayout : flashcard.backContentLayout">
    </app-flashcard-layout>
  </div>
  <div class="d-flex justify-content-between p-0 mt-3">
    <!-- OK, the visbility settings here are pretty janky to read... if I set something with the angular 'hidden' attribute, it doesn't render, therefore it impacts on the column representation (things get misaligned). I only want to show the 'Previous' button in the back, and the 'Next' one in the front. I have to share the space between the 'Next' and 'Save' buttons, that's why I set one of the to 'hidden', so it doesn't impact the row layout. REFACTOR THIS IN THE FUTURE -->
    <button [style.visibility]="!isFlashcardFront ? 'visible' : 'hidden'" type="button"
      class="btn btn-outline-dark col-2" (click)="isFlashcardFront = true">Previous</button>
    <input [(ngModel)]="flashcard.answer" class="form-control mx-3 text-center" type="text" placeholder="Answer">
    <button [hidden]="!isFlashcardFront" [style.visibility]="isFlashcardFront ? 'visible' : 'hidden'" type="button"
      class="btn btn-outline-dark col-2" (click)="showFlashcardBack()">Next</button>
    <button [hidden]="isFlashcardFront" [style.visibility]="isFlashcardFront ? 'hidden' : 'visible'" type="button"
      class="btn btn-primary col-2" (click)="saveFlashcard(flashcard)">Save</button>
  </div>
</div>