<h1>Welcome to FlashMEMO, your public study platform</h1>
<div class="mt-5">
  <p>Excepteur eiusmod nostrud voluptate magna eu. Est nostrud occaecat aliquip eiusmod eiusmod quis cillum cillum
    voluptate ad. Minim sint reprehenderit est enim. Aliquip nulla ex irure voluptate irure deserunt voluptate culpa
    aute ex cillum enim do. Enim elit mollit aliquip magna laboris magna fugiat aute incididunt aliquip. Deserunt tempor
    aute incididunt id minim pariatur esse et labore veniam incididunt nostrud eiusmod.</p>
</div>
<div class="row mt-4">
  <div class="col-6 ">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body text-center">
        <h5 class="card-title">Sebastian Leitner, flashcards, and learning</h5>
        <p class="card-text">Pariatur occaecat elit reprehenderit sit aute officia commodo. Aliqua commodo ex sit
          laboris duis. Et excepteur magna elit esse nisi enim nulla ullamco qui ea qui aliquip laboris commodo.
          Cillum exercitation esse non mollit. Culpa occaecat sunt irure tempor eiusmod consequat eu ad mollit.
          Exercitation eu velit ullamco amet eu et dolore.</p>

      </div>
      <a href="#" class="btn btn-primary">Learn More!</a>
    </div>
  </div>
  <div class="col-6">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body text-center">
        <h5 class="card-title">Customize the way you want it - with free resources!</h5>
        <p class="card-text">Aliquip fugiat tempor do anim mollit mollit qui deserunt enim. Exercitation laboris sint
          cupidatat quis veniam. Excepteur ut tempor in officia ex tempor ullamco ea.</p>
      </div>
      <a href="#" class="btn btn-primary">Register Now</a>
    </div>
  </div>
</div>
