<div class="container my-3">
  <div class="row">
    <!-- Deck info section (form layout) -->
    <div class="col-6">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    </div>
  </div>
  <button class="btn btn-primary" (click)="open(content)">
    Create Flashcard
  </button>

  <div class="row mt-5">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Flashcards">
        <ng-template ngbPanelContent>
          <app-data-table [editColumnProperty]="'flashcardId'" [deleteColumnProperty]="'flashcardId'"
            (editClick)="handleFlashcardEdit($event)" (deleteClick)="handleFlashcardDelete($event)"
            [dataSource]="this.flashcardData" [columnOptions]='this.columnOptions'
            [pageSizeOptions]='this.pageSizeOptions'>
          </app-data-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<!-- Modal section -->
<ng-template #content let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customize your Flashcard!
    </h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <app-flashcard></app-flashcard>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Previous</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Next</button>
  </div>
</ng-template>