<div class="container my-3">
  <div class="row">
    <!-- Deck info section (form layout) -->
    <div class="col-6">
      <formly-form [form]="form" [fields]="fields" [model]="deckModel"></formly-form>
      <div class="d-flex justify-content-end">
        <button [disabled]="!this.form.valid || (this.form.valid && !this.form.dirty)" class="btn btn-primary"
          data-testid="save-deck-btn" (click)="saveDeck()">
          Save Deck
        </button>
      </div>
    </div>
    <!-- Right-side deck info panel (deck stats) -->
    <div *ngIf="!isNewDeck" class="col-6 text-center">
      <h4>Deck Stats:</h4>
      <div class="row">
        <label>Creation Date</label>
        <p><b>{{ deckModel.creationDate }}</b></p>
      </div>
      <div class="row">
        <label>Last Updated</label>
        <p><b>{{ deckModel.lastUpdated }}</b></p>

      </div>
      <div class="row">
        <label>Total Flashcards</label>
        <p><b>{{ flashcardData$.getValue().length}}</b></p>

      </div>
      <div class="row">
        <label>Due Flashcards</label>
        <p><b>{{ getDueFlashcards().length }}</b></p>
      </div>
    </div>
    <div *ngIf="isNewDeck" class="col-6 d-flex align-items-center text-center">
      <h4>Create your new deck before you can start adding new flashcards to it!</h4>
    </div>
  </div>

  <div class="row mt-5">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" (click)="openFlashcardModal(flashcardModal, null)">
        Create Flashcard
      </button>
      <!-- I added this div around the button so the tooltip is rendered even with the disabled button -->
      <div placement="auto" [ngbTooltip]="canStartStudySession() ? '' : 'You don\'t have any flashcards to review!'">
        <button class="ms-2 btn btn-primary" [disabled]="!canStartStudySession()" data-testid="study-session-btn"
          (click)="openStudySessionModal(studySessionModal)">
          Study!
        </button>
      </div>
    </div>
    <ngb-accordion class="mt-2" #acc="ngbAccordion" activeIds="ngb-panel-0" data-testid="flashcard-accordion">
      <ngb-panel title="Flashcards">
        <ng-template ngbPanelContent>
          <app-data-table [hasSelectColumn]="true" [hasEditColumn]="showEditIcon" [hasDeleteColumn]="showDeleteIcon"
            (editClick)="openFlashcardModal(flashcardModal, $event.rowData)"
            (deleteClick)="handleFlashcardDelete($event)" [dataSource]="(flashcardData$ | async) || []"
            [columnOptions]='this.columnOptions' [pageSizeOptions]='this.pageSizeOptions'>
          </app-data-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<!-- Modal section -->
<ng-template #flashcardModal let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customize your Flashcard!
    </h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <app-flashcard (save)="handleFlashcardSave(activeFlashcard)" [flashcard]="activeFlashcard"
      [defaultLanguageISOCode]="deckModel.languageISOCode"></app-flashcard>
  </div>
</ng-template>

<!-- Study Session section -->
<ng-template #studySessionModal let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Study Session
    </h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <app-study-session [flashcardList]="this.getDueFlashcards()" (abortSession)="modal.close('Session aborted')"
      (stopSession)="modal.close('Session stopped')"></app-study-session>
  </div>
</ng-template>
