<div class="container my-3">
  <div class="row">
    <!-- Deck info section (form layout) -->
    <div class="col-6">
      <formly-form [form]="form" [fields]="fields" [model]="deckModel"></formly-form>
      <div class="d-flex justify-content-end">
        <button [disabled]="!this.form.valid" class="btn btn-primary" (click)="saveDeck()">
          Save Deck
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" (click)="openFlashcardModal(flashcardModal, null)">
        Create Flashcard
      </button>
    </div>
    <ngb-accordion class="mt-2" #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Flashcards">
        <ng-template ngbPanelContent>
          <app-data-table (rowClick)="openFlashcardModal(flashcardModal, $event.rowData)"
            [editColumnProperty]="'flashcardId'" [deleteColumnProperty]="'flashcardId'"
            (editClick)="handleFlashcardEdit($event)" (deleteClick)="handleFlashcardDelete($event)"
            [dataSource]="this.flashcardData" [columnOptions]='this.columnOptions'
            [pageSizeOptions]='this.pageSizeOptions'>
          </app-data-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<!-- Modal section -->
<ng-template #flashcardModal let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customize your Flashcard!
    </h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <app-flashcard (save)="handleFlashcardSave()" [flashcard]="activeFlashcard"></app-flashcard>
  </div>
</ng-template>
