<div [ngSwitch]="layout" class="h-100">
  <div *ngSwitchCase="layoutEnum.SINGLE_BLOCK" class="d-flex flex-column h-100">
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
  </div>
  <div *ngSwitchCase="layoutEnum.VERTICAL_SPLIT" class="d-flex flex-column h-100">
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
  </div>
  <div *ngSwitchCase="layoutEnum.TRIPLE_BLOCK" class="d-flex flex-column h-100">
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
    <app-flashcard-content-options-block></app-flashcard-content-options-block>
  </div>
  <div *ngSwitchCase="layoutEnum.HORIZONTAL_SPLIT" class="d-flex flex-row h-100" style="display: contents;">
    <app-flashcard-content-options-block class="h-100"></app-flashcard-content-options-block>
    <app-flashcard-content-options-block class="h-100"></app-flashcard-content-options-block>
  </div>
  <div *ngSwitchCase="layoutEnum.FULL_CARD" style="display: contents;">
    <div class="row h-100">
      <div class="col">
        <app-flashcard-content-options-block class="h-100"></app-flashcard-content-options-block>
      </div>
      <div class="col d-flex flex-column">
        <app-flashcard-content-options-block class="w-100"></app-flashcard-content-options-block>
        <app-flashcard-content-options-block class="w-100"></app-flashcard-content-options-block>
      </div>
    </div>

  </div>
  <div *ngSwitchDefault>oops, some error occured :(</div>
</div>
