<div class="card flex-md-row my-3 shadow-sm h-md-250">
  <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 200px"
    [src]="extendedNews.thumbnailPath" />
  <div class="card-body d-flex flex-column align-items-start">
    <strong class="d-inline-block mb-2 text-primary">Posted by {{ extendedNews.ownerInfo.username }}</strong>
    <h6 class="mb-0">
      <a class="h4 text-dark" [routerLink]="['/news', extendedNews.newsId]">{{ extendedNews.title }}</a>
    </h6>
    <div class="mb-1 text-muted small">
      {{ extendedNews.creationDate }}
    </div>
    <p class="card-text mb-auto line-clamp-3">
      {{ extendedNews.subtitle }}
    </p>
    <div class="d-flex w-100 justify-content-between">
      <a class="btn btn-outline-primary" role="button" [routerLink]="['/news', extendedNews.newsId]">Continue
        reading</a>
      <a class="btn btn-danger" role="button" [hidden]="!this.authService.isLoggedUserAdmin()"
        (click)="deleteClick()">Delete</a>
    </div>
  </div>
</div>