.flashcard-container {
    height: 100%;
    border: 10px solid #007bff;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.option-icon-container {
    border-color: #007bff;
    border-radius: 20px;
    border-width: 5px;
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
}

.option-icon {
    height: 10vh;
}