<div class="container my-3">
    <ng-template #content let-modal class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Customize your Flashcard!
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <!-- So, what is going on here... My goals are:
        (1) centralize the input method buttons (image, sound, text, whatever), while also making them visually appealing (as round as possible, pretty borders, etc)
        (2) distribute the rows EVENLY without gutters... the reason for this is to not waste any space later for images/text/sound/etc

        Classes 'align-items-center' and 'justify-content-evenly' are used to center the icons at the middle of the rows, and evenly throughout the vertical space
        Class 'flex-fill' is used to replicate the behavior of things such as 'col', but for vertical space
        Class 'd-flex has to be used for the 'align' and 'justify' directives to work there
        
        Documentation used: https://getbootstrap.com/docs/5.0/utilities/flex/#align-items -->
        <div class="modal-body flashcard-container d-flex flex-column justify-content-evenly">
                <div class="flex-fill d-flex align-items-center justify-content-center">
                    <app-flashcard-content-wizard></app-flashcard-content-wizard>
                </div>
                <div class="flex-fill d-flex align-items-center justify-content-center">
                    <app-flashcard-content-wizard></app-flashcard-content-wizard>
                </div>
                <div class="flex-fill d-flex align-items-center justify-content-center">
                    <app-flashcard-content-wizard></app-flashcard-content-wizard>
                </div>
            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Previous</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Next</button>
        </div>
    </ng-template>

    <button class="btn btn-primary" (click)="open(content)">
        Create Flashcard
    </button>
</div>