<button (click)="this.answerClick.emit(flashcardReviewStatusEnum.WRONG)" type="button" class="col-2 btn btn-danger"
  placement="auto" ngbTooltip="Sets the flashcard back to Level 0">Wrong</button>
<button (click)="this.answerClick.emit(flashcardReviewStatusEnum.AGAIN)" type="button" class="col-2 btn btn-warning"
  placement="auto" ngbTooltip="Keeps the flashcard at the same level as it is now">Again</button>
<button (click)="this.answerClick.emit(flashcardReviewStatusEnum.CORRECT)" type="button" class="col-2 btn btn-success"
  placement="auto" ngbTooltip="Advances flashcard to the next level">Correct</button>
