<div class="row">
  <h1>{{ model.title }}</h1>
</div>
<div class="row mt-2">
  <h4 class="subtitle-text">{{ model.subtitle }}</h4>
</div>
<!--  -->
<div class="text-center mt-2">
  <img class="img-fluid" [src]="model.thumbnailPath" [style.maxHeight]="'500px'">
</div>
<div class="row mt-5 text-end">
  <small> Posted by {{ ownerInfo.username }}</small>
</div>
<div class="row mt-5 text-end">
  <small> Posted on {{ model.creationDate }}</small>
</div>
<div class="row mt-1 text-end">
  <small> Last updated on {{ model.lastUpdated}}</small>
</div>
<div class="row mt-5">
  <div style="word-break: break-word;" [innerHTML]="model.content"></div>
</div>
