<div class="row justify-content-center w-100" [ngSwitch]="contentType">
  <!-- Unfortunately, I have to create a custom class to hold the border properties of the container, because Bootstrap's 'border' class apparently have !important tags in it that simply ignores properties such as border width/color declared separately -->
  <div *ngSwitchCase="flashcardContentEnumType.NONE" class="col-3 text-center">
    <img imageLoader class="flashcard-option-container p-3 btn btn-outline-primary"
      (click)="openXl(contentEditor, 'Audio')" src="/assets/flashcard_audio_icon.svg" alt="Card image cap" />
  </div>
  <div *ngSwitchCase="flashcardContentEnumType.NONE" class="col-3 text-center">
    <img imageLoader class="flashcard-option-container p-3 btn btn-outline-primary"
      (click)="openXl(contentEditor, 'Text')" src="/assets/flashcard_text_icon.svg" alt="Card image cap" />
  </div>
  <div *ngSwitchCase="flashcardContentEnumType.NONE" class="col-3 text-center">
    <img imageLoader class="flashcard-option-container p-3 btn btn-outline-primary"
      (click)="openXl(contentEditor, 'Image')" src="/assets/flashcard_image_icon.svg" alt="Card image cap" />
  </div>

  <!-- Modal code stolen from here: https://ng-bootstrap.github.io/#/components/modal/examples -->

  <ng-template #contentEditor let-contentEditor>
    <div class="modal-header">
      <h4 class="modal-title">Add {{ modalTitle }}</h4>
      <button type="button" class="btn-close" aria-label="Close"
        (click)="contentEditor.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div [ngSwitch]="modalTitle">
        <!-- AUDIO API SECTION -->
        <ng-container *ngSwitchCase="'Audio'">
          <div class="container">
            <!-- copy of full width inline search box (see below) -->
            <div class="row">
              <div class="input-group">
                <label for="audioProvider" class="col-form-label col-auto">Choose the Audio provider:</label>
                <div class="ms-2 col-auto">
                  <select class="form-select" [(ngModel)]="audioProvider">
                    <option *ngFor="let layout of possibleAudioProviders" [ngValue]="layout">{{ layout }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <div class="input-group">
                  <input type="text" class="p-0 form-control" placeholder="Type what audio you want to search!"
                    [(ngModel)]="currentKeyword" />
                  <span class="input-group-btn ms-2">
                    <button class="btn btn-primary" type="submit"
                      (click)="searchAudio(currentKeyword, dictLanguage, audioProvider)">
                      Search
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="showAudioToolbar()" class="mt-2 d-flex justify-content-end">
              <i href="#" class="bi bi-x-circle" (click)="clearAudioResults()" style="font-size: 2em;" placement="auto"
                ngbTooltip="Clear results"></i>
            </div>
            <div class="row mt-2">
              <ng-container *ngFor="let audio of audioAPIResults">
                <div class="row mb-1">
                  <audio class="col-6" [src]="audio" controls>Oops, your browser is having problems rendering the audio!
                    🤔</audio>
                  <i href="#" class="col-auto bi bi-check2-square" (click)="saveAudio(audio)" placement="end"
                    ngbTooltip="Pick audio" container="body" style="font-size: 2em;"></i>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <!-- TEXT/DICTIONARY API SECTION -->
        <ng-container *ngSwitchCase="'Text'">
          <!-- Text/Dictionary editor (CKEditor) -->
          <div class="container">
            <!-- copy of full width inline search box (see below) -->
            <div class="row">
              <div class="input-group">
                <label for="dictProvider" class="col-form-label col-auto">Choose the dictionary provider:</label>
                <div class="ms-2 col-auto">
                  <select class="form-select" [(ngModel)]="dictProvider" (change)="setLanguageDropdownToDefaultValue()">
                    <option *ngFor="let provider of possibleDictProviders" [ngValue]="provider">{{ provider }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="input-group">
                <label for="dictProvider" class="col-form-label col-auto">Choose a reference language:</label>
                <div class="ms-2 col-auto">
                  <select class="form-select" [(ngModel)]="dictLanguage">
                    <option *ngFor="let language of possibleDictLanguages" [ngValue]="language.isoCode">{{
                      language.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <div class="input-group">
                  <input type="text" class="p-0 form-control"
                    placeholder="Type what you want to search in the dictionary!" [(ngModel)]="currentKeyword" />
                  <span class="input-group-btn ms-2">
                    <button class="btn btn-primary" type="submit"
                      (click)="searchWord(currentKeyword, dictLanguage, dictProvider)">
                      Search
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="showDictionaryToolbar()" class="mt-2 d-flex flex-column justify-content-end">
              <div class="text-end">
                <i href="#" class="me-2 bi bi-clipboard-check" (click)="copyToRTE()" style="font-size: 2em;"
                  placement="auto" ngbTooltip="Append definition to text content"></i>
                <i href="#" class="bi bi-x-circle" (click)="clearDictionaryResults()" style="font-size: 2em;"
                  placement="auto" ngbTooltip="Clear results"></i>
              </div>
              <div class="row mt-2">
                <div [innerHTML]="dictAPIparsedHMTL" class="container"></div>
              </div>
            </div>
            <div class="row mt-2">
              <ckeditor #editorComponent [(ngModel)]="textEditorContent"
                editorUrl="https://cdn.ckeditor.com/4.18.0/full-all/ckeditor.js" [config]="editorConfig"
                [type]="editorType"></ckeditor>
            </div>
          </div>
        </ng-container>
        <!-- IMAGE API SECTION -->
        <ng-container *ngSwitchCase="'Image'">
          <div class="container">
            <!-- Implementation for inline search box covering full width stolen from here: https://stackoverflow.com/questions/22774780/bootstrap-full-width-text-input-within-inline-form -->
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <input type="text" class="p-0 form-control" placeholder="Find your image!"
                    [(ngModel)]="currentKeyword" />
                  <!-- TIL it's 'ms' (margin-start), not 'ml' for left margins -->
                  <span class="input-group-btn ms-2">
                    <button class="btn btn-primary" type="submit" (click)="searchImage(currentKeyword)">
                      Search
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <!-- Image API results -->
            <div class="row mt-3 justify-content-center align-items-center">
              <div class="col-5 text-center" *ngFor="let item of imageResults">
                <img class="img-thumbnail my-2" imageLoader [src]="item.link" (click)="saveImage(item.link)"
                  placement="auto" ngbTooltip="{{ item.title }}" />
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>output2</ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <ng-container [ngSwitch]="modalTitle">
        <ng-container *ngSwitchCase="'Image'">
          <button type="button" *ngIf="hasPrevious" class="btn btn-outline-dark"
            (click)="searchImage(currentKeyword, +currentPageNumber - 1)">
            Previous Page
          </button>
          <button type="button" *ngIf="hasNext" class="btn btn-outline-dark ml-2"
            (click)="searchImage(currentKeyword, +currentPageNumber + 1)">
            Next Page
          </button>
        </ng-container>
        <div *ngSwitchDefault>
          <button type="button" class="btn btn-primary" (click)="saveText()">
            Save
          </button>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <div *ngSwitchCase="flashcardContentEnumType.IMAGE" class="container text-center image-reset-button-parent">
    <img [src]="contentValue" (load)="fixHeightOnLoad()" [style.maxHeight]="imageMaxHeight" class="img-fluid"
      data-testid="flashcard-block-actual-content" />
  </div>
  <div *ngSwitchCase="flashcardContentEnumType.TEXT" [style.maxHeight]="contentMaxHeight" class="container"
    style="overflow-y: auto; word-break: break-word;" data-testid="flashcard-block-actual-content">
    <div [innerHTML]="contentValue | safeBypass: 'html'"></div>
  </div>
  <div *ngSwitchCase="flashcardContentEnumType.AUDIO" class="container text-center image-reset-button-parent"
    data-testid="flashcard-block-actual-content">
    <audio [src]="contentValue" controls>Oops, your browser is having problems rendering the audio!
      🤔</audio>
  </div>
  <ng-container *ngSwitchDefault>oops, some error must have occured! D:</ng-container>
</div>
<!-- Floating icons that allow editing/clearing contents  -->
<a [hidden]="!showEditButton()" class="image-edit-button fa fa-pen-nib fa-2x" (click)="openXl(contentEditor, 'Text')"
  placement="auto" ngbTooltip="Edit content" aria-hidden="true"></a>
<a [hidden]="!showResetButton()" class="image-reset-button fa fa-times-circle fa-2x" (click)="resetContent()"
  placement="auto" ngbTooltip="Clear content" aria-hidden="true"></a>

<!-- Spinner (unused for now) -->
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
