.flashcard-option-container {
  border-radius: 20px;
  border: solid;
  height: 100%;
  width: 100%;
  min-width: 60px;
}

/* Attempt to create input following bootstrap visuals but with only bottom border stolen from here: https://stackoverflow.com/questions/37465458/input-text-field-with-only-bottom-border */
/* Removed border-radius otherwise it looks weird */

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  border-radius: 0px;
}

/* Shamelessly stolen from: https://stackoverflow.com/questions/42859313/hover-effects-in-bootstrap */

.img-thumbnail:hover {
  background-color: red;
  opacity: 0.5;
}