<div class="container my-3">
  <app-admin-actions-toolbar [routes]=routes></app-admin-actions-toolbar>

  <!-- Had to do some shenanigans with ngIf instead of 'hidden' in this case, for some reason -->
  <div class="d-flex justify-content-end my-3 container" *ngIf="this.authService.isLoggedUserAdmin">
    <div placement="auto"
      [ngbTooltip]="this.userTable.selection.selected.length === 0 ? 'Please select at least one user from the table' : 'Delete Decks'">
      <button class="btn btn-danger fa fa-trash fa-2x" [disabled]="this.userTable.selection.selected.length === 0">
      </button>
    </div>
  </div>

  <app-data-table #userTable [dataSource]="(userData$ | async) || []" [columnOptions]='this.columnOptions'
    [pageSizeOptions]='this.pageSizeOptions' [hasDeleteColumn]="showEditIcon" (deleteClick)="handleDeleteUser($event)"
    [hasEditColumn]="showDeleteIcon" (editClick)="handleEditUser($event)" [hasSelectColumn]="true">
  </app-data-table>
</div>
