<div class="container my-3">
  <app-user-model-form [userModel]="userModel" [formMode]="formMode"></app-user-model-form>

  <!-- <p *ngIf="this.userStats$ | async as user; else nouserdata" class="card-text">
          You currently have <i class="fa-regular fa-hard-drive"></i> <b> {{user.deckCount }}</b> deck(s), which contain
          a
          total
          of <i class="fa-regular fa-id-card"></i> <b> {{ user.flashcardCount }}</b>
          flashcard(s). You have <i class="fa-regular fa-calendar-check"></i> <b> {{ user.dueDeckCount }}</b> study
          session(s)
          pending, for a total of <i class="fa-solid fa-triangle-exclamation"></i> <b> {{
            user.dueFlashcardCount }}</b> flashcard(s) to be reviewed. Your last study session was held on <i
            class="fa-solid fa-clock"></i> <b> {{
            (user.lastStudySession | date: 'medium') ?? 'N/A' }}</b>.
        </p> -->
</div>
