<div class="container my-3">
  <ng-container *ngIf="isActivationSuccessful === true">
    <h1 class="text-success">Account activated</h1>
    <p>Congratulations, you are now an official member of the FlashMEMO family 🎉</p>
    <p>You should now be able to log in to our website, and create/manage your decks. Click <a routerLink="/login"
        class="link-primary">here</a> to go to the login page.</p>
  </ng-container>
  <ng-container *ngIf="isActivationSuccessful === false">
    <h1 class="text-danger">Activation failed</h1>
    <p>An error occurred while attempting to activate your account 😶</p>
    <p>Please verify if you used the same link sent to your email. The apparent reason for the failure was: <span
        class="text-danger">{{
        failureReason }}</span></p>
    <p>If you are having continuous problems with our platform, please <a href="mailto:flashmemo.mail@gmail.com">reach
        out to us</a>.</p>
  </ng-container>
  <ng-container *ngIf="isActivationSuccessful === undefined">
    <p>We are processing your request...</p>
  </ng-container>
</div>
