<div class="container my-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <div class="row">
      <div class="col-6">
        <a href="javascript:void(0);" class="link-primary" (click)="openForgotPasswordModal(forgotPasswordModal)">I
          forgot my password</a>
        😭
      </div>
      <div class="col-6 text-end">
        <button data-testid="login-submit-btn" type="submit" [ngClass]="{'disabled' : !this.form.valid}"
          class="btn btn-primary">Submit</button>
      </div>

    </div>
  </form>

</div>

<!-- Modal section -->
<ng-template #forgotPasswordModal let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Let us help you...
    </h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <p class="mb-2">Type your email and we will send you a link to change your password:</p>
    <form [formGroup]="forgotForm" (ngSubmit)="onForgotPasswordSubmit()">
      <formly-form [form]="forgotForm" [fields]="forgotFields" [model]="forgotModel"></formly-form>
      <div class="modal-footer">
        <button data-testid="forgot-submit-btn" type="submit" [ngClass]="{'disabled' : !this.forgotForm.valid}"
          class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</ng-template>
