table {
  width: 100%;
  table-layout: fixed;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: auto;
}

/* btw, em = element width */
/* doing this to **try** to better format these icons when they are required */
.mat-column-edit,
.mat-column-delete {
  width: 5em;
}

/* copying styling from the columns above */
.mat-column-select {
  width: 5em;
}
