<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Insert your search string here" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]='this.tableDataSource' matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleAndEmit(row, $event)"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let item of this.columnOptions" matColumnDef={{item.columnId}}>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.displayName ?? item.columnId}} </th>
      <td mat-cell *matCellDef="let row">
        <div class="line-clamp-3">
          <a (click)="item.emitValue ? this.handleClick(item.columnId, row) : undefined"
            [routerLink]="item.redirectParams ? parseRedirectArgs(item.redirectParams!, row) : item.emitValue ? '.' : undefined">{{row[item.columnId]}}</a>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <a (click)="raiseEdit(row)" class="fa fa-pen-nib fa-2x text-decoration-none" placement="top"
          data-testid="row-edit-btn" ngbTooltip="Edit"
          [style.visibility]="this.hasEditColumn(row) ? 'visible' : 'hidden'"></a>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <a (click)="raiseDelete(row)" class="fa fa-trash fa-2x text-decoration-none" placement="top" ngbTooltip="Delete"
          [style.visibility]="this.hasDeleteColumn(row) ? 'visible' : 'hidden'"></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumnNames()"></tr>
    <tr mat-row *matRowDef="let row; columns: getColumnNames();"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]='this.pageSizeOptions' aria-label="Select page of users"></mat-paginator>
