<!-- Requires the parent component to have flex directives -->
<div class="row no-gutters justify-content-center w-100">
    <!-- Unfortunately, I have to create a custom class to hold the border properties of the container, because Bootstrap's 'border' class apparently have !important tags in it that simply ignores properties such as border width/color declared separately -->
    <div class="col-auto">
        <img class="flashcard-option-container p-3" src="/assets/flashcard_audio_icon.svg" alt="Card image cap">
    </div>
    <div class="col-auto">
        <img class="flashcard-option-container p-3" src="/assets/flashcard_text_icon.svg" alt="Card image cap">
    </div>
    <div class="col-auto">
        <img class="flashcard-option-container p-3" src="/assets/flashcard_image_icon.svg" alt="Card image cap">
    </div>
</div>