<app-header></app-header>
<router-outlet></router-outlet>
<!-- Spinner -->
<ngx-spinner name="login" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#235ce2" type="ball-circus"
  [fullScreen]="true">
  <p style="color: white">Welcome to FlashMEMO!</p>
</ngx-spinner>
<ngx-spinner name="logout" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#235ce2" type="ball-circus"
  [fullScreen]="true">
  <p style="color: white">Thanks for stopping by! 🙋‍♀️🙋‍♂️</p>
</ngx-spinner>
<ngx-spinner name="loading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#235ce2" type="ball-circus"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<ngx-spinner name="searching" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#235ce2" type="ball-spin-fade-rotating"
  [fullScreen]="true">
  <p style="color: white">Searching...</p>
</ngx-spinner>
<app-footer></app-footer>
