<div class="container my-3">
  <div class="row">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">The Leitner Box</h5>
          <p class="card-text">The Leitner System, also referred sometimes as 'Leitner Box', is a spaced-repetition
            memorization technique proposed by German science journalist Sebastian Leitner in the 1970s. In his book <a
              target="_blank" rel="noopener noreferrer"
              href="https://www.amazon.com/lernt-lernen-Board-Leitner-Sebastian/dp/B002DUHIKA?language=en_US">'So
              lernt man lernen'</a> (roughly 'how to learn to learn' or 'learning how to learn'), the idea of a review
            system
            is proposed, where concepts - which can be words, topics, names, etc - can efficiently be learned by
            reviewing them in pre-determined time ranges, which get longer and more challenging as you prove to
            correctly remember it.
            You can check more on the Leitner System <a target="_blank" rel="noopener noreferrer"
              href="https://en.wikipedia.org/wiki/Leitner_system">here</a>.
          </p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy1.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">Fluent Forever and Flashcards</h5>
          <p class="card-text">
            The use of flashcards is popularly used in conjunction with this method. Published by Gabriel Wyner, the
            book 'Fluent Forever' describes the author's experience with this method during the language learning
            process, and tips on how to take the most of it. As someone who read the book and sucessfully put the
            concept to the test, I decided to set up a platform on which users can easily create their own flashcards
            and help each other learn more efficiently, with the help of a collaborative environment.
            You can either check the book or go to Fluent Forever's blog to get more info about the team's idea, its app
            in development and its methodology.</p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy2.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">(Language) Learning</h5>
          <p class="card-text">As mentioned, the Leitner System isn't a 'language learning' methodology, per se. You can
            apply it to whatever you want, in fact. Are you having a hard time fixating concepts of a given class in
            college? Or do you wish to establish a more grounded study routine for an upcoming test? Maybe just train
            memorization for the sake of it - you might be participating in memorization contests, for instance?

            The goal of this app is not only to provide a flexible and intuitive system to create and store your
            flashcards, but also to leave up to you how to handle them. If you specify a target language for your deck,
            you'll be redirected to guided content for the given target language. If you don't, you'll be able to add
            whatever content you want to your deck/flashcard.</p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy4.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">Alright, I'm in!</h5>
          <p class="card-text">1. Register here. You'll be prompted to create a new login and password. YOU DON'T
            NECESSARILY NEED TO CREATE A NEW USER. You can use login: TestUser01 and password: 1234, if you prefer to
            use our test account.
            2. Click on 'Create Deck'. Set a name and a language to it (you can also set it to 'N/A'), and confirm to
            create it.
            3. Go to your deck page. You'll see at the bottom an 'Add Flashcard' Button. Click on it to start creating
            your flashcard. Use the APIs to add custom content (images, definitions, etc) and, after validating it,
            confirm to create the flashcard.
            4. After adding/editing your flashcards, click on 'Study' to start a study session. Try to correctly guess
            the flashcard's answer - or set the manual input, if you configured it this way. Go through all of the due
            flashcards to finish the session.
            5. CONGRATULATIONS! Now wait until your flashcards are due again to study again. In the meanwhile, create
            new flashcards!</p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy1.jpg" alt="sans" />
      </div>
    </div>
  </div>
</div>
