<div class="container my-3">
  <div class="row">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">The Leitner Box</h5>
          <p class="card-text">
            The Leitner System, also referred sometimes as 'Leitner Box', is a spaced-repetition
            memorization technique proposed by German science journalist Sebastian Leitner in the 1970s. In his book <a
              target="_blank" rel="noopener noreferrer"
              href="https://www.amazon.com/lernt-lernen-Board-Leitner-Sebastian/dp/B002DUHIKA?language=en_US">So
              lernt man lernen</a> (roughly 'how to learn to learn' or 'learning how to learn'), the idea of a review
            system
            is proposed, where concepts - which can be words, topics, names, etc - can efficiently be learned by
            reviewing them in pre-determined time ranges, which get longer and more challenging as you prove to
            correctly remember it.
            You can check more on the Leitner System <a target="_blank" rel="noopener noreferrer"
              href="https://en.wikipedia.org/wiki/Leitner_system">here</a>.
          </p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy1.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">Fluent Forever and Flashcards</h5>
          <p class="card-text">
            The use of flashcards is popularly used in conjunction with this method. Published by Gabriel Wyner, the
            book <a target="_blank" rel="noopener noreferrer"
              href="https://www.amazon.com/dp/B00IBZ405W/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Fluent
              Forever</a> describes the author's experience with this method during the language learning
            process, and tips on how to take the most of it. As someone who read the book and sucessfully put the
            concept to the test, I decided to set up a platform on which users can easily create their own flashcards
            and help each other learn more efficiently, with the help of a collaborative environment. An app that uses
            this concept is <a target="_blank" rel="noopener noreferrer" href="https://apps.ankiweb.net/">Anki</a>,
            which is probably the most popular option in this regard.
          </p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy2.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">(Language) Learning</h5>
          <p class="card-text">
            As mentioned, the Leitner System isn't a 'language learning' methodology, per se. You can
            apply it to whatever you want, in fact. Are you having a hard time fixating concepts of a given class in
            college? Or do you wish to establish a more grounded study routine for an upcoming test? Maybe just train
            memorization for the sake of it - you might be participating in memorization contests, for instance?

            The goal of this app is not only to provide a flexible and intuitive system to create and store your
            flashcards, but also to leave up to you how to handle them. If you specify a target language for your deck,
            you'll be redirected to guided content for the given target language. If you don't, you'll be able to add
            whatever content you want to your deck/flashcard.
          </p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy4.jpg" alt="sans" />
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="card">
      <div class="row card-body">
        <div class="col-sm-6">
          <h5 class="card-title">So you decided to give FlashMEMO a try... that's great! 🙌</h5>
          <p class="card-text">
            Here are your first steps:
          <ol>
            <li>
              Register <a routerLink="/user/create" [queryParams]="{ mode: 'create' }">here</a>.
            </li>
            <li>
              Click on 'Create Deck'. Set a name and a language to it (you can also set it to 'N/A'), and confirm to
              create it.
            </li>
            <li>
              Go to your deck page. Click on 'Create Flashcard'. Use the APIs to add custom content to it (images,
              definitions, etc).
            </li>
            <li>
              Once your flashcards are ready, click on 'Study'. Try to correctly guess the flashcards' answers. Go
              through all of the your flashcards to finish the session.
            </li>
            <li>
              CONGRATULATIONS! Now wait until your next study session. In the meanwhile, create
              new flashcards!
            </li>
          </ol>
          <p>
        </div>
        <img class="col-sm-6" style="max-height: 300px;" src="assets/features/flashmemo_dummy1.jpg" alt="sans" />
      </div>
    </div>
  </div>
</div>
