<div class="container my-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4>All set! Let's reset your password 😎</h4>
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <div class="d-flex mt-3">
      <div class="col-6">
        <p>If you are having continuous problems with our platform, please <a
            href="mailto:flashmemo.mail@gmail.com">reach
            out to us</a>.</p>
      </div>
      <div class="col-6 text-end">
        <button type="submit" [ngClass]="{'disabled' : !this.form.valid}" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </form>
</div>
