<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="/assets/FlashmemoLogo.png" width="30" height="30" alt="" />FlashMEMO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deck">Decks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Test</a>
        </li>
      </ul>
      <app-user-preferences-dropdown></app-user-preferences-dropdown>
    </div>
  </div>
</nav>
