# CI template for Angular taken from: https://medium.com/rupesh-tiwari/how-to-deploy-angular-apps-to-github-pages-gh-pages-setup-ci-cd-for-angular-app-with-github-714c1e555de5
# CRON stuff taken from here: https://jasonet.co/posts/scheduled-actions/

name: Angular Scheduled E2E CI
on:
  schedule:
  - cron: "0 0 * * *"
  push:
    branches: master

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: |
          npm ci
      - name: Setup
        run: |
          ./setup.sh
      - name: Test E2E
        run: |
          ng e2e
      - name: Upload Screenshots
        run: |
      - name: Upload screenshots
        uses: actions/upload-artifact@latest
        if: failure()
        with:
            name: cypress-snapshots
            path: cypress/screenshots
